footer {
    background-color: rgb(4, 4, 4);
    margin: 0px 0px !important;
    height: 10vh;
    margin-top: 30px !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

.para-footer {
    margin: 0px 0px;
}