@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

/*Login*/
.login-form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.heading-login {
  font-size: 34px;
  color: rgb(255, 129, 57);
  margin-bottom: 50px;
  position: relative;
}

.heading-login::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -8px;
  background-color: rgb(255, 129, 57);
  width: 56px;
  height: 2px;
}

.login {
  width: 100%;
  min-height: 100%;
  background-color: rgb(42, 41, 41);
  padding: 50px 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-exist {
  background-color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.text-exist:empty {
  background-color: transparent;
}

.text-required {
  display: flex;
  position: absolute;
  margin-left: -50px;
  margin-top: -25px;
  color: red;
}

.login-field {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
}

.login-field label {
  width: 100px;
  font-size: 15px;
  margin-right: 15px;
  color: white;
}

.loginForm {
  flex: 1;
  color: #777 !important;
  font-size: 14px;
  border: 1px solid #e4e3e3;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  padding: 16px 22px;
}

.loginForm input {
  color: #777 !important;
  font-size: 14px;
  border: 1px solid #e4e3e3;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  padding: 16px 22px;
  margin-bottom: 40px;
}


::placeholder {
  color: rgba(255, 255, 255, 0.874) !important;
}

.btn-login {
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  padding: 15px 25px;
  border: none;
  outline: none;
  filter: grayscale(80%);
  background-color: #f4813f;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease;
  margin: 20px 0px;
  border: 2px solid rgb(255, 129, 57);
}

.btn-login:hover {
  filter: grayscale(0%);
  background: #f4813f;
  box-shadow: 0px 1px 20px #f4813f;
}

.not-count {
  margin-top: 50px;
  margin-bottom: -50px;
}

.nc-t {
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  padding: 5px 5px;
  border: none;
  outline: none;
  filter: grayscale(80%);
  background-color: #f4813f;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease;
  margin: 20px 0px;
  border: 2px solid rgb(255, 129, 57);
}

.nc-t:hover {
  filter: grayscale(0%);
  background: #f4813f;
  box-shadow: 0px 1px 20px #f4813f;
}

/*responsive*/
@media (max-width: 992px) {
  .login {
    padding: 40px 20px;
  }

  .heading-login {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .login-field label {
    width: 90px;
    font-size: 14px;
    margin-right: 10px;
  }

  .loginForm input {
    padding: 14px 18px;
    font-size: 13px;
    margin-bottom: 30px;
  }

  .btn-login,
  .nc-t {
    padding: 12px 20px;
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  .login {
    padding: 30px 15px;
    border-radius: 5px;
  }

  .heading-login {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
  }

  .login-field {
    flex-direction: column;
    align-items: stretch;
  }

  .login-field label {
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
  }

  .loginForm {
    width: 100%;
  }

  .loginForm input {
    width: 100%;
  }

  .btn-login,
  .nc-t {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    margin: 15px 0;
  }
}